{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{% for post in posts %}
{{ macros.render_post(post) }}
{% endfor %}

<ul class="poster">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('posts', post=post - 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('posts', post=post + 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
    <li class="edit">
    <a href="edit/{{post}}">Edit Post</a>
	</li>
	<li class="delete">
    <a href="delete/{{post}}">Delete Post</a>
	</li>
</ul>


{% endblock %}
